[Unit]
Description=vtube bot

[Service]
ExecStart=/home/nathan/.nvm/versions/node/v16.17.1/bin/node /home/nathan/vtubebot/main.js
Restart=on-failure
User=root
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/nathan/vtubebot

[Install]
WantedBy=multi-user.target
